
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Game</title>
  <style>
      table, th, td {
          border: 1px solid black;
      }
  </style>
</head>
<body>
    <h3>
        Details are ...
    
    <table style="width: auto">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Developer</th>
        </tr>

        <tr>
            <th>{{game[0]}} </th>
            <th><a href={{game[2]}}> {{game[1]}} </a></th>
            <th>{{game[3]}}</th>
            <th><img src="{{game[4]}}"></th>
            <th>{{game[5]}}</th>
        </tr>
        
       
    
    </table>
    </h3> 
</body>
</html>